<div class="row">
  <div class="jumbotron bg-img bg-img-1 bg-under-txt">
	  <h2 class="text-stroke">Make your life easier with Baseline</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, commodi tempore et sapiente, maxime temporibus. Aut illo possimus quae facere, officiis sapiente, vitae sint. Aliquam minima dolorem illum doloremque nam.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
<div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample1.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample2.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample3.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    <img src="images/sample4.jpg" alt="sample image" class="--max-width">
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3 class="head --topic">What We Do</h3>
	    <p class="content --detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.</p>
	    <a href="#/content" class="content --link-secondary">read more</a>
		</div>
	</div>
</div>
<div class="container-fluid sponser__container">
	<section class="layout__container text-center">
		<div class="row">
			<div class="sponser__section">
				<span class="sponser__text sponser__item">สนับสนุนโดย :</span>
				<img src="images/logo-sponser-3.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-1.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-1.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
			</div>
		</div>
	</section>
</div>