<div class="row">
  <div class="jumbotron bg-img bg-img-1 bg-under-txt">
	  <h2 class="text-stroke">Make your life easier with Baseline</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, commodi tempore et sapiente, maxime temporibus. Aut illo possimus quae facere, officiis sapiente, vitae sint. Aliquam minima dolorem illum doloremque nam.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
<div class="container">
	<div class="row">
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample1.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample2.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4 gap-bottom-lg">
	    <a href="#" class="thumbnail">
	      <img src="images/sample3.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    <img src="images/sample4.jpg" alt="sample image" class="--max-width">
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3 class="head --topic">What We Do</h3>
	    <p class="content --detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.</p>
	    <a href="#/content" class="content --link-secondary">read more</a>
		</div>
	</div>
</div>
<div id="contactus" class="container">
	<div class="row gap-bottom-lg">
		<div class="col-xs-12 col-sm-6">
	    <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15502.343429089016!2d100.56677274597172!3d13.743505267334605!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3eb3d2780f9e4788!2sC.V.S.+Distributor+Co.%2C+Ltd.!5e0!3m2!1sth!2sth!4v1468421552812" width="500" height="300" frameborder="0" allowfullscreen="allowfullscreen" class="map"></iframe>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="row">
				<div class="col-sm-6 contactus-content-left">
					<h2 class="head --topic">Contact Us</h2>
					<h3 class="content --topic"><i class="fa fa-home icon-address icon"></i>Address</h3>
					<address class="content contactus-content">CVS Distributor Co.,Ltd.
					33/1 Soi Promsri 2 Sukhumwit 39
					Wattana Bangkok 10110 Thailand</address>
					<h3 class="content --topic"><i class="fa fa-phone icon-tel icon"></i>Phone &amp; Fax</h3>
					<tel>Tel : <a href="tel:6627128431" target="_blank">(66 2)712-8431 to 5</a></tel>
					<tel>Fax : <a href="tel:6627128430" target="_blank">(66 2)712-8430</a></tel>
				</div>
				<div class="col-sm-6 contactus-content-right">
					<h3 class="content --topic"><i class="fa fa-envelope icon-email icon"></i>Email Address</h3>
					<p class="content contactus-content">
						<span style="display: block;">Thailand Head Office: <a href="mailto:cvsbl@ksc.th.com" target="_blank">cvsbl@ksc.th.com</a></span>
						<span style="display: block;">North America Sales Office: <a href="mailto:cvscanvasus@gmail.com" target="_blank">cvscanvasus@gmail.com</a></span>
					</p>
					<h3 class="content --topic"><i class="fa fa-facebook-official icon-facebook icon"></i><a href="https://www.facebook.com/CVS-Distributor-229045883803103/" target="_blank" rel="nofollow">CVS Distributor</a></h3>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid sponser__container">
	<section class="layout__container text-center">
		<div class="row">
			<div class="sponser__section">
				<span class="sponser__text sponser__item">สนับสนุนโดย :</span>
				<img src="images/logo-sponser-3.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-1.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-1.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
				<img src="images/logo-sponser-2.png" alt="ผู้สนับสนุนหลัก" class="sponser__item">
			</div>
		</div>
	</section>
</div>