
  <div class="row bs-button">
    <div class="col-xs-12">
      <h1>Button</h1>
      <div class="row">
        <div class="col-xs-12">
          <h5>Button Base</h5>
          <button class="button">Button</button>
          <button class="button round">Button</button>
          <button class="button radius">Button</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Background + Round Border</h5>
          <samp class="clearfix">
            <input type="submit" value="Cancel" class="button --outline-secondary"></input>
            <input type="submit" value="Send" class="button --outline-primary"></input>
            <input type="submit" value="Save" class="button --solid-primary"></input>
            <input type="submit" value="Save" class="button --solid-secondary"></input>
            <button class="button --icon-register --facebook ion-social-facebook">สมัครด้วย Facebook</button>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="submit" value="Cancel" class="button --outline-secondary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Send" class="button --outline-primary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Save" class="button --solid-primary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Save" class="button --solid-secondary"&gt;&lt;/input&gt;
&lt;button class="button --icon --facebook ion-social-facebook"&gt;สมัครด้วย Facebook&lt;/button&gt;</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Round Border</h5>
          <samp class="clearfix">
            <input type="button" class="button round --solid-primary" value="Submit"></input>
            <input type="button" class="button round --solid-secondary" value="Cancel"></input>
            <button class="button round --icon-register --twitter ion-social-twitter">สมัครด้วย Twitter</button>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="button" class="button round --solid-primary" value="Submit"&gt;&lt;/input&gt;
&lt;input type="button" class="button round --solid-secondary" value="Cancel"&gt;&lt;/input&gt;
&lt;button class="button round --icon --twitter ion-social-twitter"&gt;สมัครด้วย Twitter&lt;/button&gt;
</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Radius Border</h5>
          <samp class="clearfix">
            <input type="button" class="button radius --solid-primary" value="Submit"></input>
            <input type="button" class="button radius --solid-secondary" value="Cancel"></input>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="button" class="button radius --solid-primary" value="Submit"&gt;&lt;/input&gt;
&lt;input type="button" class="button radius --solid-secondary" value="Cancel"&gt;&lt;/input&gt;
</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>No Border</h5>
          <a href="#/" class="button button__link --bg-primary">Home</a>
        </div>
      </div>
      <div class="row gap-bottom-md">
        <div class="col-xs-12">
          <h5>Button with tooltips</h5>
          <button class="button round --icon-left --outline-primary ion-android-share js-tooltip" title="This is my link's tooltip message!">Share</button>
          <i class="button --icon ion-android-share js-tooltip" title="This is my link's tooltip message!"></i>
          <button class="button__wrap --icon --facebook js-tooltip">
            <i class="button__icon fa fa-facebook"></i>99+
          </button>
          <button class="button round --outline-primary --icon --readmore">read more <i class="fa fa-arrow-right"></i></button>

          <div class="js-share archive__share">
            <div class="archive__button">
              <span class="head --share">769</span><span class="head --host">แชร์</span><a class="container-icon js-share-btn"><i class="fa fa-share"></i></a>
            </div>
            <div class="hide">
              <div class="js-share-dialog">
                <button class="button --social --facebook js-btn-share-facebook"><i class="button__icon fa fa-facebook"></i><span class="share-value">44</span></button>
                <button class="button --social --twitter js-btn-share-twitter"><i class="button__icon fa fa-twitter"></i><span class="share-value">0</span></button>
                <button class="button --social --googleplus js-btn-share-googleplus"><i class="button__icon fa fa-google-plus"></i><span class="share-value">9</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>Switch Button</h5>
          <div class="tg-list-item">
            <span class="clock__label">PM</span>
            <input id="cb1" class="tgl tgl-light" type="checkbox" />
            <label class="tgl-btn" for="cb1"></label>
            <span class="clock__label">AM</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h5>Star Rating</h5>
          <div class="starrating">
            <span>☆</span><span>☆</span><span>☆</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12">
      <div class="button__group --cube" data-toggle="modal" data-target="#taskworldModal">
        <div class="button__wrap--face">
          <span class="button__face">read more</span>
          <span class="button__face">read more</span>
          <span class="button__face">read more</span>
          <span class="button__face">read more</span>
        </div>
      </div>
    </div>  -->
  </div>
<script>
  // Tooltips
  $(".js-tooltip").tooltipster({
    interactive: true,
    trigger: 'click',
    theme: 'tooltipster-shadow',
    content: $('<div class="social__dialog"><button class="button round --icon-left --facebook ion-social-facebook js-tooltip">99+</button><button class="button round --icon-left --twitter ion-social-twitter js-tooltip">99+</button><button class="button round --icon-left --googleplus ion-social-googleplus js-tooltip">99+</button></div>')
  });
    // Tooltips
  $(".js-share-btn").each(function(){
    // if(!$(this).data('tooltipsterNs')){
      $(this).tooltipster({
        interactive: true,
        position: 'bottom',
        trigger: 'click',
        theme: 'tooltipster-shadow',
        content: $(this).parents('.js-share').find('.js-share-dialog'),
        // functionInit: function($button,$dialog){
        //  //bind social share button
        //  Apps.social.bindShareButton($dialog,$button);
        // },
        functionReady: function(){
          $(this).addClass('active');
        },
        functionAfter: function(){
          $(this).removeClass('active');
        },
        minWidth: 0
      }).click(function(e){e.preventDefault();});
    // }
  });
</script>