
  <div class="row bs-button">
    <div class="col-xs-12">
      <h1>Button</h1>
      <div class="row">
        <div class="col-xs-12">          
          <h5>Button Base</h5>
          <button class="button">Button</button>
          <button class="button round">Button</button>
          <button class="button radius">Button</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Background + Round Border</h5>
          <samp class="clearfix">
            <input type="submit" value="Cancel" class="button --outline-secondary"></input>
            <input type="submit" value="Send" class="button --outline-primary"></input>
            <input type="submit" value="Save" class="button --solid-primary"></input>
            <input type="submit" value="Save" class="button --solid-secondary"></input>
            <button class="button --icon-register --facebook ion-social-facebook">สมัครด้วย Facebook</button>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="submit" value="Cancel" class="button --outline-secondary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Send" class="button --outline-primary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Save" class="button --solid-primary"&gt;&lt;/input&gt;
&lt;input type="submit" value="Save" class="button --solid-secondary"&gt;&lt;/input&gt;
&lt;button class="button --icon --facebook ion-social-facebook"&gt;สมัครด้วย Facebook&lt;/button&gt;</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Round Border</h5>
          <samp class="clearfix">
            <input type="button" class="button round --solid-primary" value="Submit"></input>
            <input type="button" class="button round --solid-secondary" value="Cancel"></input>
            <button class="button round --icon-register --twitter ion-social-twitter">สมัครด้วย Twitter</button>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="button" class="button round --solid-primary" value="Submit"&gt;&lt;/input&gt;
&lt;input type="button" class="button round --solid-secondary" value="Cancel"&gt;&lt;/input&gt;
&lt;button class="button round --icon --twitter ion-social-twitter"&gt;สมัครด้วย Twitter&lt;/button&gt;
</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Radius Border</h5>
          <samp class="clearfix">
            <input type="button" class="button radius --solid-primary" value="Submit"></input>
            <input type="button" class="button radius --solid-secondary" value="Cancel"></input>
          </samp>
          <!-- <code class="code__wrap clearfix">
<pre>&lt;input type="button" class="button radius --solid-primary" value="Submit"&gt;&lt;/input&gt;
&lt;input type="button" class="button radius --solid-secondary" value="Cancel"&gt;&lt;/input&gt;
</pre>
          </code> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>No Border</h5>
          <a href="#/" class="button button__link --bg-primary">Home</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h5>Button with tooltips</h5>
          <button class="button round --icon-left --outline-primary ion-android-share js-tooltip" title="This is my link's tooltip message!">Share</button>
          <i class="button --icon ion-android-share js-tooltip" title="This is my link's tooltip message!"></i>
        </div>
      </div>
    </div>
    <!-- <div class="col-xs-12">
      <div class="button__wrap" data-toggle="modal" data-target="#taskworldModal">
        <div class="button--cube">
          <span class="button--face">read more</span>
          <span class="button--face">read more</span>
          <span class="button--face">read more</span>
          <span class="button--face">read more</span>
        </div>
      </div>
    </div>  -->
  </div>
<script>    
  // Tooltips
  $(".js-tooltip").tooltipster({
    interactive: true,
    trigger: 'click',
    theme: 'tooltipster-shadow',
    content: $('<div class="social__dialog"><button class="button round --icon-left --facebook ion-social-facebook js-tooltip">99+</button><button class="button round --icon-left --twitter ion-social-twitter js-tooltip">99+</button><button class="button round --icon-left --googleplus ion-social-googleplus js-tooltip">99+</button></div>')
  });
</script>