<div class="row">
  <ul class="nav nav-tabs [ tab__wrap --primary ]" role="tablist" id="myTab">
    <li role="presentation" class=" [ tab__head ] active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="[ tab__link ]">Home</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="[ tab__link ]">Profile</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="[ tab__link ]">Messages</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="[ tab__link ]">Settings</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="[ tab-pane active ]" id="home">
      <h2>Home</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="profile">
      <h2>profile</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="messages">
      <h2>Message</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="settings">
      <h2>Settings</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
  </div>
</div>