<div class="container">
  <div class="row group">
    <h2 class="header --leftline primary">
      <span>แผนผังเว็บไซต์</span>
    </h2>
    <h2 class="header --middleline --primary">
      <span>แผนผังเว็บไซต์</span>
    </h2>
    <h2 class="header__wrap --category --tvprogram">
      <a href="http://nationtv.local/main/program/" class="header__text --category --tvprogram" target="_blank">รายการทีวี</a>
      <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href="http://nationtv.local/main/program/"></a></span>
    </h2>
    <h2 class="header__wrap --dotted --recommended">
      <span class="header__text">ข่าวที่คุณไม่ควรพลาด</span>
    </h2>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 breadcrumb__container">
      <!-- Breadcrumbs -->
      <ol class="breadcrumb --arrow-light">
        <li><a href="/">หน้าแรก</a></li>
        <li><a href="/program/">รายการทีวี</a></li>
        <li><a href="/program/World_weekend">World weekend</a></li>
        <li><a href="javascript:void(0);">กาแฟดอยตุง กับการขึ้นทะเบียนเป็นสินค้า GI ใน EU</a></li>
      </ol>
      <span class="content --meta-category crime">อาชญากรรม</span>
    </div>
    <div class="col-xs-12 col-sm-4 adjustfontsize__container">
      <!-- Font size adjustment -->
      <div class="">
          <span class="content__text --header-strong adjustfontsize__label">ปรับขนาดตัวอักษร</span>
          <a href="" class="button__wrap --icon-font js-btn-adjustfont textresizer-active"><i class="fa fa-font adjustfontsize__font --small"></i></a>
          <a href="" class="button__wrap --icon-font js-btn-adjustfont"><i class="fa fa-font adjustfontsize__font --medium"></i></a>
          <a href="" class="button__wrap --icon-font js-btn-adjustfont"><i class="fa fa-font adjustfontsize__font --large"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div id="js-text-resize">
          <p>จากกรณีเรื่องราวของชายต่างชาติใจสลายคนหนึ่งออกเดินตามหาลูกชายสองคนภายหลังภรรยาคนไทยหอบหนี โดยเดินตระเวนแจกรูปถ่ายลูกชายที่น่ารักสองคนตามพื้นที่ต่างๆในเขตอำเภอสารภี จังหวัดเชียงใหม่ นานกว่า 2 สัปดาห์ จนเป็นที่ฮือฮาในโลกโซเชียลเน็ตเวิร์คต่างๆทั้งทางเฟซบุ๊ค หลังผู้สื่อข่าวรับแจ้งจึงลงพื้นที่ตรวจสอบ พบนายแม็กซ์ ฟัฟสตัลเลอร์ (max pfaffstaller)อายุ 31 ปี ชาวเยอรมัน ที่บริเวณหน้าร้านเซเว่นคาร์เซ็นเตอร์ 5/3 หมู่ 1 ต.หนองผึ้ง อ.สารภี จ.เชียงใหม่ กำลังเดินแจกรูปถ่าย โดยมีนายปรีชา ธรรมลักษมี อายุ 49 ปี พลเมืองดีผู้ประสานงานยืนพูดคุยอยู่</p>
          <p>โดยนายแม็กซ์ เปิดเผยว่า ประมาณ 2 สัปดาห์ที่ผ่านมา ตนมีปากเสียงกับนางสุบัน ฟัฟสตัลเลอร์ อายุ 39 ปี ภรรยาชาวไทย จนพาลูกหนีซึ่งภรรยามีอาการทางจิตเคยถูกส่งตัวไปรักษาที่โรงพยาบาลสวนปรุง จึงเป็นห่วงลูกชายทั้งสองมาก โดยคนโต ชื่อ ด.ช.ซันทิโน อายุ 4 ขวบ และคนน้องชื่อ ด.ช.โจวานี่ อายุ 2 ขวบ โดยลูกชายทั้งสองคน ถือสองสัญชาติทั้งไทยและเยอรมัน โดยตนเป็นห่วงความปลอดภัยลูกชายทั้งสองมาก</p>
          <div class="social-wrap gap-v-md">
            <span class="social-label">Social share: </span>
            <a href="#" class="ib-xs social-icon --f"><i class="ion-social-facebook"></i></a>
            <a href="#" class="ib-xs social-icon --t"><i class="ion-social-twitter"></i></a>
            <a href="#" class="ib-xs social-icon --g"><i class="ion-social-googleplus"></i></a>
          </div>
          <p>"ผมจึงเดินเท้าออกตามหาทั้งวันคืน โดยคืนแรกออกเดินตามหาไปทั่วจนถึงเที่ยงคืน ผมคิดถึงลูกผมเองมาก ส่วนปู่กับย่าซึ่งเป็นพ่อและแม่ตนที่เยอรมันพอทราบข่าวก็เป็นห่วงมากจนนอนไม่หลับ"นายแม็กซ์กล่าวพร้อมมีน้ำตาซึม ด้วยความโศกเศร้าอย่างมาก</p>
          <p>จากนั้นนายแม็กซ์ได้หยิบโทรศัพท์มือถือขึ้นมาดูภาพและคลิปวีดีโอของลูกชายตนที่พาไปขี่ล่อที่สวนสัตว์เชียงใหม่พร้อมกับน้ำตาซึม ก่อนจะเดินทำภารกิจแจกโบว์ชัวร์ตามหาลูกชายทั้งสอง โดยยกมือไหว้อย่างสวยงาม โดยก่อนจากนายแม็กซ์ได้ไหว้ขอบคุณนายปรีชา หรือคุณแดง ผู้ประสานงานพร้อมเจ้าของร้านเซเว่นคาร์ที่ช่วยเหลือแม้ไม่ใช่ญาติพี่น้องกัน</p>
          <p>สำหรับผู้ที่พบเบาะแสสามารถติดต่อได้ที่เบอร์ 097-2484879 นายแม็กซ์ ผู้เป็นพ่อ</p>
          <p>ผู้สื่อข่าวรายงานว่า สำหรับนายแม็กซ์ ฟัฟสตัลเลอร์ ชาวเยอรมัน เดินทางมาท่องเที่ยวที่ จ.เชียงใหม่ เมื่อหลายปีก่อน และเกิดพบรักกับ นางสุบัน ฟัฟสตัลเลอร์ ภรรยา หญิงสาวชาวบุรีรัมย์ที่ขายของในตลาดไนท์บาร์ซ่า ก่อนตกลงปลงใจแต่งงานกันเมื่อกว่า 10 ปีก่อน ปัจจุบันประกอบอาชีพส่วนตัว และเช่าตึกแถว ย่านค่ายกาวิละ อ.เมือง จ.เชียงใหม่ เป็นที่พักอาศัย ก่อนมีปากเสียงกับภรรยา ซึ่งมีอาการทางจิตเคยเข้ารับการรักษาที่โรงพยาบาลสวนปรุง จ.เชียงใหม่ และภรรยาได้หอบลูกหนีไปอย่างไร้ร่องรอย ทำให้นายแมกซ์ เป็นห่วงลูกอย่างมาก จึงออกตามหา</p>
      </div>
    </div>
    <div class="col-xs-12">
      <span class="social-label">Ionicon:</span>
      <a href=""><i class="ion-chevron-left"></i></a>
      <a href=""><i class="ion-chevron-right"></i></a>
      <a href=""><i class="ion-close"></i></a>
      <a href=""><i class="ion-close-android"></i></a>
    </div>
    <section class="footer__wrap --social">
      <a class="social__icon" href="#" target="_blank">
        <i class="fa fa-facebook-square social__icon --topbar"></i></a>
      <a class="social__icon" href="#" target="_blank">
        <i class="fa fa-twitter-square social__icon --topbar"></i></a>
      <a class="social__icon" href="#" target="_blank">
        <i class="fa fa-google-plus-square social__icon --topbar"></i></a>
      <a class="social__icon" href="#" target="_blank">
        <i class="fa fa-instagram social__icon --topbar"></i></a>
      <a class="social__icon" href="#" target="_blank">
        <i class="fa fa-youtube-square social__icon --topbar"></i></a>
    </section>
    <section class="js-content-scroll content__scroll">
      <p>"ผมจึงเดินเท้าออกตามหาทั้งวันคืน โดยคืนแรกออกเดินตามหาไปทั่วจนถึงเที่ยงคืน ผมคิดถึงลูกผมเองมาก ส่วนปู่กับย่าซึ่งเป็นพ่อและแม่ตนที่เยอรมันพอทราบข่าวก็เป็นห่วงมากจนนอนไม่หลับ"นายแม็กซ์กล่าวพร้อมมีน้ำตาซึม ด้วยความโศกเศร้าอย่างมาก</p>
      <p>จากนั้นนายแม็กซ์ได้หยิบโทรศัพท์มือถือขึ้นมาดูภาพและคลิปวีดีโอของลูกชายตนที่พาไปขี่ล่อที่สวนสัตว์เชียงใหม่พร้อมกับน้ำตาซึม ก่อนจะเดินทำภารกิจแจกโบว์ชัวร์ตามหาลูกชายทั้งสอง โดยยกมือไหว้อย่างสวยงาม โดยก่อนจากนายแม็กซ์ได้ไหว้ขอบคุณนายปรีชา หรือคุณแดง ผู้ประสานงานพร้อมเจ้าของร้านเซเว่นคาร์ที่ช่วยเหลือแม้ไม่ใช่ญาติพี่น้องกัน</p>
      <p>สำหรับผู้ที่พบเบาะแสสามารถติดต่อได้ที่เบอร์ 097-2484879 นายแม็กซ์ ผู้เป็นพ่อ</p>
      <p>ผู้สื่อข่าวรายงานว่า สำหรับนายแม็กซ์ ฟัฟสตัลเลอร์ ชาวเยอรมัน เดินทางมาท่องเที่ยวที่ จ.เชียงใหม่ เมื่อหลายปีก่อน และเกิดพบรักกับ นางสุบัน ฟัฟสตัลเลอร์ ภรรยา หญิงสาวชาวบุรีรัมย์ที่ขายของในตลาดไนท์บาร์ซ่า ก่อนตกลงปลงใจแต่งงานกันเมื่อกว่า 10 ปีก่อน ปัจจุบันประกอบอาชีพส่วนตัว และเช่าตึกแถว ย่านค่ายกาวิละ อ.เมือง จ.เชียงใหม่ เป็นที่พักอาศัย ก่อนมีปากเสียงกับภรรยา ซึ่งมีอาการทางจิตเคยเข้ารับการรักษาที่โรงพยาบาลสวนปรุง จ.เชียงใหม่ และภรรยาได้หอบลูกหนีไปอย่างไร้ร่องรอย ทำให้นายแมกซ์ เป็นห่วงลูกอย่างมาก จึงออกตามหา</p>
      <p>"ผมจึงเดินเท้าออกตามหาทั้งวันคืน โดยคืนแรกออกเดินตามหาไปทั่วจนถึงเที่ยงคืน ผมคิดถึงลูกผมเองมาก ส่วนปู่กับย่าซึ่งเป็นพ่อและแม่ตนที่เยอรมันพอทราบข่าวก็เป็นห่วงมากจนนอนไม่หลับ"นายแม็กซ์กล่าวพร้อมมีน้ำตาซึม ด้วยความโศกเศร้าอย่างมาก</p>
      <p>จากนั้นนายแม็กซ์ได้หยิบโทรศัพท์มือถือขึ้นมาดูภาพและคลิปวีดีโอของลูกชายตนที่พาไปขี่ล่อที่สวนสัตว์เชียงใหม่พร้อมกับน้ำตาซึม ก่อนจะเดินทำภารกิจแจกโบว์ชัวร์ตามหาลูกชายทั้งสอง โดยยกมือไหว้อย่างสวยงาม โดยก่อนจากนายแม็กซ์ได้ไหว้ขอบคุณนายปรีชา หรือคุณแดง ผู้ประสานงานพร้อมเจ้าของร้านเซเว่นคาร์ที่ช่วยเหลือแม้ไม่ใช่ญาติพี่น้องกัน</p>
      <p>สำหรับผู้ที่พบเบาะแสสามารถติดต่อได้ที่เบอร์ 097-2484879 นายแม็กซ์ ผู้เป็นพ่อ</p>
      <p>ผู้สื่อข่าวรายงานว่า สำหรับนายแม็กซ์ ฟัฟสตัลเลอร์ ชาวเยอรมัน เดินทางมาท่องเที่ยวที่ จ.เชียงใหม่ เมื่อหลายปีก่อน และเกิดพบรักกับ นางสุบัน ฟัฟสตัลเลอร์ ภรรยา หญิงสาวชาวบุรีรัมย์ที่ขายของในตลาดไนท์บาร์ซ่า ก่อนตกลงปลงใจแต่งงานกันเมื่อกว่า 10 ปีก่อน ปัจจุบันประกอบอาชีพส่วนตัว และเช่าตึกแถว ย่านค่ายกาวิละ อ.เมือง จ.เชียงใหม่ เป็นที่พักอาศัย ก่อนมีปากเสียงกับภรรยา ซึ่งมีอาการทางจิตเคยเข้ารับการรักษาที่โรงพยาบาลสวนปรุง จ.เชียงใหม่ และภรรยาได้หอบลูกหนีไปอย่างไร้ร่องรอย ทำให้นายแมกซ์ เป็นห่วงลูกอย่างมาก จึงออกตามหา</p>
      <p>"ผมจึงเดินเท้าออกตามหาทั้งวันคืน โดยคืนแรกออกเดินตามหาไปทั่วจนถึงเที่ยงคืน ผมคิดถึงลูกผมเองมาก ส่วนปู่กับย่าซึ่งเป็นพ่อและแม่ตนที่เยอรมันพอทราบข่าวก็เป็นห่วงมากจนนอนไม่หลับ"นายแม็กซ์กล่าวพร้อมมีน้ำตาซึม ด้วยความโศกเศร้าอย่างมาก</p>
      <p>จากนั้นนายแม็กซ์ได้หยิบโทรศัพท์มือถือขึ้นมาดูภาพและคลิปวีดีโอของลูกชายตนที่พาไปขี่ล่อที่สวนสัตว์เชียงใหม่พร้อมกับน้ำตาซึม ก่อนจะเดินทำภารกิจแจกโบว์ชัวร์ตามหาลูกชายทั้งสอง โดยยกมือไหว้อย่างสวยงาม โดยก่อนจากนายแม็กซ์ได้ไหว้ขอบคุณนายปรีชา หรือคุณแดง ผู้ประสานงานพร้อมเจ้าของร้านเซเว่นคาร์ที่ช่วยเหลือแม้ไม่ใช่ญาติพี่น้องกัน</p>
      <p>สำหรับผู้ที่พบเบาะแสสามารถติดต่อได้ที่เบอร์ 097-2484879 นายแม็กซ์ ผู้เป็นพ่อ</p>
      <p>ผู้สื่อข่าวรายงานว่า สำหรับนายแม็กซ์ ฟัฟสตัลเลอร์ ชาวเยอรมัน เดินทางมาท่องเที่ยวที่ จ.เชียงใหม่ เมื่อหลายปีก่อน และเกิดพบรักกับ นางสุบัน ฟัฟสตัลเลอร์ ภรรยา หญิงสาวชาวบุรีรัมย์ที่ขายของในตลาดไนท์บาร์ซ่า ก่อนตกลงปลงใจแต่งงานกันเมื่อกว่า 10 ปีก่อน ปัจจุบันประกอบอาชีพส่วนตัว และเช่าตึกแถว ย่านค่ายกาวิละ อ.เมือง จ.เชียงใหม่ เป็นที่พักอาศัย ก่อนมีปากเสียงกับภรรยา ซึ่งมีอาการทางจิตเคยเข้ารับการรักษาที่โรงพยาบาลสวนปรุง จ.เชียงใหม่ และภรรยาได้หอบลูกหนีไปอย่างไร้ร่องรอย ทำให้นายแมกซ์ เป็นห่วงลูกอย่างมาก จึงออกตามหา</p>
    </section>
    <ul class="list__link --sub">
      <li><a href="/">หน้าแรก</a></li>
      <li><a href="/program/">รายการทีวี</a></li>
      <li><a href="/program/World_weekend">World weekend</a></li>
      <li><a href="javascript:void(0);">กาแฟดอยตุง กับการขึ้นทะเบียนเป็นสินค้า GI ใน EU</a></li>
    </ul>

    <dl class="list__item --number">

      <dt>How much wood would a wood chuck chuck if a wood chuck could chuck wood?</dt>
      <dd>1,000,000</dd>

      <dt>What is the air-speed velocity of an unladen swallow?</dt>
      <dd>What do you mean? An African or European swallow?</dd>

      <dt>Why did the chicken cross the road?</dt>
      <dd>To get to the other side</dd>
      <dt>
        disc (• • •)
        circle (○ ○ ○)
        square (▪ ▪ ▪)
        decimal (1 2 3)
        decimal-leading-zero (01, 02, 03)
        lower-roman (i ii iii)
        upper-roman (I II III)
        lower-greek (α β γ)
        lower-latin (a b c)
        upper-latin (A B C)
        armenian (Ա Բ Գ)
        georgian (ა ბ გ)
        lower-alpha (a b c)
        upper-alpha (A B C)
      </dt>
    </dl>
  </div>
  <footer>
    <a class="js-back-to-top bs-back-to-top container-icon" href="#top" title="Back to top">
      <i class="ion-chevron-up"></i>
    </a>
  </footer>
</div>
<script src="js/back-to-top.js"></script>