<div class="row group">
  <h2 class="header --leftline primary">
    <span>แผนผังเว็บไซต์</span>
  </h2>
  <h2 class="header --middleline --primary">
    <span>แผนผังเว็บไซต์</span>
  </h2>
  <h2 class="header__wrap --category --tvprogram">
    <a href="http://nationtv.local/main/program/" class="header__text --category --tvprogram" target="_blank">รายการทีวี</a>
    <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href="http://nationtv.local/main/program/"></a></span>
  </h2>
  <h2 class="header__wrap --dotted --recommended">
    <span class="header__text">ข่าวที่คุณไม่ควรพลาด</span>
  </h2>
</div>
<div class="row">
  <div class="col-xs-6 breadcrumb__container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb">
      <li><a href="http://staging.nationtv.tv/main/">หน้าแรก</a></li>
      <li><a href="http://staging.nationtv.tv/main/program/">รายการทีวี</a></li>
      <li><a href="http://staging.nationtv.tv/main/program/World_weekend">World weekend</a></li>
      <li><a href="javascript:void(0);">กาแฟดอยตุง กับการขึ้นทะเบียนเป็นสินค้า GI ใน EU</a></li>
    </ol>            
  </div>
  <div class="col-xs-6 adjustfontsize__container">
    <!-- Font size adjustment -->
    <div class="">
        <span class="content__text --header-strong adjustfontsize__label">ปรับขนาดตัวอักษร</span>
        <a href="" class="button__wrap --icon-font js-btn-adjustfont textresizer-active"><i class="fa fa-font adjustfontsize__font --small"></i></a>
        <a href="" class="button__wrap --icon-font js-btn-adjustfont"><i class="fa fa-font adjustfontsize__font --medium"></i></a>
        <a href="" class="button__wrap --icon-font js-btn-adjustfont"><i class="fa fa-font adjustfontsize__font --large"></i></a>
    </div>
  </div>  
</div>
<div class="row">
  <div class="col-xs-12">
    <div id="js-text-resize">
        <p>จากกรณีเรื่องราวของชายต่างชาติใจสลายคนหนึ่งออกเดินตามหาลูกชายสองคนภายหลังภรรยาคนไทยหอบหนี โดยเดินตระเวนแจกรูปถ่ายลูกชายที่น่ารักสองคนตามพื้นที่ต่างๆในเขตอำเภอสารภี จังหวัดเชียงใหม่ นานกว่า 2 สัปดาห์ จนเป็นที่ฮือฮาในโลกโซเชียลเน็ตเวิร์คต่างๆทั้งทางเฟซบุ๊ค หลังผู้สื่อข่าวรับแจ้งจึงลงพื้นที่ตรวจสอบ พบนายแม็กซ์ ฟัฟสตัลเลอร์ (max pfaffstaller)อายุ 31 ปี ชาวเยอรมัน ที่บริเวณหน้าร้านเซเว่นคาร์เซ็นเตอร์ 5/3 หมู่ 1 ต.หนองผึ้ง อ.สารภี จ.เชียงใหม่ กำลังเดินแจกรูปถ่าย โดยมีนายปรีชา ธรรมลักษมี อายุ 49 ปี พลเมืองดีผู้ประสานงานยืนพูดคุยอยู่</p>
        <p>โดยนายแม็กซ์ เปิดเผยว่า ประมาณ 2 สัปดาห์ที่ผ่านมา ตนมีปากเสียงกับนางสุบัน ฟัฟสตัลเลอร์ อายุ 39 ปี ภรรยาชาวไทย จนพาลูกหนีซึ่งภรรยามีอาการทางจิตเคยถูกส่งตัวไปรักษาที่โรงพยาบาลสวนปรุง จึงเป็นห่วงลูกชายทั้งสองมาก โดยคนโต ชื่อ ด.ช.ซันทิโน อายุ 4 ขวบ และคนน้องชื่อ ด.ช.โจวานี่ อายุ 2 ขวบ โดยลูกชายทั้งสองคน ถือสองสัญชาติทั้งไทยและเยอรมัน โดยตนเป็นห่วงความปลอดภัยลูกชายทั้งสองมาก</p>
        <p>"ผมจึงเดินเท้าออกตามหาทั้งวันคืน โดยคืนแรกออกเดินตามหาไปทั่วจนถึงเที่ยงคืน ผมคิดถึงลูกผมเองมาก ส่วนปู่กับย่าซึ่งเป็นพ่อและแม่ตนที่เยอรมันพอทราบข่าวก็เป็นห่วงมากจนนอนไม่หลับ"นายแม็กซ์กล่าวพร้อมมีน้ำตาซึม ด้วยความโศกเศร้าอย่างมาก</p>
        <p>จากนั้นนายแม็กซ์ได้หยิบโทรศัพท์มือถือขึ้นมาดูภาพและคลิปวีดีโอของลูกชายตนที่พาไปขี่ล่อที่สวนสัตว์เชียงใหม่พร้อมกับน้ำตาซึม ก่อนจะเดินทำภารกิจแจกโบว์ชัวร์ตามหาลูกชายทั้งสอง โดยยกมือไหว้อย่างสวยงาม โดยก่อนจากนายแม็กซ์ได้ไหว้ขอบคุณนายปรีชา หรือคุณแดง ผู้ประสานงานพร้อมเจ้าของร้านเซเว่นคาร์ที่ช่วยเหลือแม้ไม่ใช่ญาติพี่น้องกัน</p>
        <p>สำหรับผู้ที่พบเบาะแสสามารถติดต่อได้ที่เบอร์ 097-2484879 นายแม็กซ์ ผู้เป็นพ่อ</p>
        <p>ผู้สื่อข่าวรายงานว่า สำหรับนายแม็กซ์ ฟัฟสตัลเลอร์ ชาวเยอรมัน เดินทางมาท่องเที่ยวที่ จ.เชียงใหม่ เมื่อหลายปีก่อน และเกิดพบรักกับ นางสุบัน ฟัฟสตัลเลอร์ ภรรยา หญิงสาวชาวบุรีรัมย์ที่ขายของในตลาดไนท์บาร์ซ่า ก่อนตกลงปลงใจแต่งงานกันเมื่อกว่า 10 ปีก่อน ปัจจุบันประกอบอาชีพส่วนตัว และเช่าตึกแถว ย่านค่ายกาวิละ อ.เมือง จ.เชียงใหม่ เป็นที่พักอาศัย ก่อนมีปากเสียงกับภรรยา ซึ่งมีอาการทางจิตเคยเข้ารับการรักษาที่โรงพยาบาลสวนปรุง จ.เชียงใหม่ และภรรยาได้หอบลูกหนีไปอย่างไร้ร่องรอย ทำให้นายแมกซ์ เป็นห่วงลูกอย่างมาก จึงออกตามหา</p> 
    </div>    
  </div>
</div>
<div class="container section__container gap-inner-bottom">
    <div class="row">
      <div class="col-md-4">
        <section class="list__category --news">
          <h2 class="header__wrap --category --primary">
              <a class="header__text --category --primary" target="_blank" href="">ข่าว</a>
              <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href=""></a></span>
          </h2>
          <div class="list__wrap bg-secondary">
            <div class="col-sm-6 col-md-12">
              <ul class="no-list-style">
                <li class="list__item"><a class="list__link" href="">ข่าวผู้อ่านสูงสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าวแชร์สูงสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าวล่าสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าววันนี้</a></li>
                <li class="list__item"><a class="list__link" href="">บันเทิง</a></li>
                <li class="list__item"><a class="list__link" href="">กีฬา</a></li>
                <li class="list__item"><a class="list__link" href="">ต่างประเทศ</a></li>
                <li class="list__item --has-sub">
                    <a class="list__link" href="">ไลฟ์สไตล์</a>
                    <ul class="no-list-style list__sub">
                        <li class="list__item"><a class="list__link --sub" href="">กิน</a></li>
                        <li class="list__item"><a class="list__link --sub" href="">เที่ยว</a></li>
                    </ul>   
                </li>
                <li class="list__item"><a class="list__link" href="">การเมือง</a></li>
                <li class="list__item"><a class="list__link" href="">อาชญากรรม</a></li>
                <li class="list__item"><a class="list__link" href="">สังคม</a></li>
                <li class="list__item"><a class="list__link" href="">เศรษฐกิจ-ไอที</a></li>
              </ul>
            </div>
          </div>
      </section>
    </div>
      <div class="col-md-4">
        <section class="list__category --gallery">
          <h2 class="header__wrap --category --primary">
                      <a class="header__text --category --primary" target="_blank" href="{{GALLERY_FULLPATH}}">ภาพ</a>
                      <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href="{{GALLERY_FULLPATH}}"></a></span>
                  </h2>
                  <div class="list__wrap bg-secondary">
                    <div class="col-sm-6 col-md-12">
                      <a class="list__link" href="">กีฬา</a>
                      <a class="list__link" href="">กิจกรรม-อีเวนท์</a>
                      <a class="list__link" href="">ธรรมชาติ</a>
                      <a class="list__link" href="">ท่องเที่ยว</a>
                      <a class="list__link" href="">ชีวิตสัตว์</a>
                      <a class="list__link" href="">คนดัง-บันเทิง</a>
                      <a class="list__link" href="">อาหาร-เครื่องดื่ม</a>
                    </div>
                    <div class="col-sm-6 col-md-12">
                      <a class="list__link" href="">ความงาม-แฟชั่น</a>
                      <a class="list__link" href="">สุขภาพ</a>
                      <a class="list__link" href="">บ้าน-สวน</a>
                      <a class="list__link" href="">DIY</a>
                      <a class="list__link" href="">ศิลปะ-วัฒนธรรม</a>
                      <a class="list__link" href="">Lifester</a>
                    </div>
                  </div>
              </section>
      </div>
      <div class="col-md-4">
        <section class="list__category --video">
          <h2 class="header__wrap --category --primary">
              <a class="header__text --category --primary" target="_blank" href="">วิดีโอ</a>
              <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href=""></a></span>
          </h2>
          <div class="list__wrap bg-secondary">
            <div class="col-sm-6 col-md-12">
      <a class="list__link" href="">บันเทิง</a>
      <a class="list__link" href="">กีฬา</a>
      <a class="list__link" href="">ต่างประเทศ</a>
      <a class="list__link" href="">ไลฟ์สไตล์</a>
            </div>
            <div class="col-sm-6 col-md-12">
      <a class="list__link" href="">การเมือง</a>
      <a class="list__link" href="">อาชญากรรม</a>
      <a class="list__link" href="">สังคม</a>
      <a class="list__link" href="">เศรษฐกิจ-ไอที</a>
            </div>
          </div>
      </section>
      </div>
    </div>
</div>
