<div class="row">
  <form class="col-xs-12">
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-3">
        <label for="firstname" class="text__label">First Name</label>
      </div>
      <div class="col-xs-12 col-sm-9">
        <div class="validate__container">
          <input id="firstname" type="text" class="input input__text --primary" name="firstname" placeholder="firstname" required/>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-3">
        <label for="skill" class="text__label">Skills</label>
      </div>
      <div class="col-xs-12 col-sm-9">
        <textarea name="skill" id="skill" class="input input__textarea --primary js-comment-textarea" placeholder="Tell us more about yourself"></textarea>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-3">
        <label for="gender" class="text__label">Gender</label>
      </div>
      <div class="col-xs-12 col-sm-9">
        <input type="radio" name="gender" id="female">
        <label class="input__radio input--primary"  for="female"></label>
        <span class="text__label">Female</span>
        <input type="radio" name="gender" id="male">
        <label class="input__radio input--primary" for="male"></label>
        <span class="text__label">Male</span>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        <input type="checkbox" id="subscribe" name="subscribe">
        <label class="input__checkbox input--primary" for="subscribe"></label>
        <span class="text__label">I agree to the Term of Use and Privacy Policy</span>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        <select id="mounth">
          <option value="hide">Month</option>
          <option value="january" rel="icon-temperature">January</option>
          <option value="february">February</option>
          <option value="march">March</option>
          <option value="april">April</option>
          <option value="may">May</option>
          <option value="june">June</option>
          <option value="july">July</option>
          <option value="august">August</option>
          <option value="september">September</option>
          <option value="october">October</option>
          <option value="november">November</option>
          <option value="december">December</option>
        </select>
        <div class="i-select-primary">
          <select id="year">
            <option value="hide">-- Year --</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="col-xs-12 col-sm-9 col-sm-offset-3">
        <input type="submit" value="Cancel" class="button --outline-secondary"></input>
        <input type="submit" value="Save" class="button --solid-primary"></input>
      </div>
    </fieldset>

  </form>
  <form class="col-xs-12">
    <fieldset class="form-group">
      <div class="label-wrap">
        <label for="name" class="head --static">ชื่อ</label>
      </div>
      <div class="input-wrap">
      <div class="validate__container">
          <input id="name" type="text" class="input input__text --primary" name="name" required/>
      </div>
    </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="label-wrap">
        <label for="email" class="head --static">อีเมล์</label>
      </div>
      <div class="input-wrap">
          <input id="email" type="email" class="input input__text --primary" name="email" required/>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="label-wrap">
        <label for="channel" class="head --static">ชื่อรายการ</label>
      </div>
      <div class="input-wrap">
        <div class="select --outline-secondary">
          <select id="year">
              <option value="hide">เลือกรายการ</option>
              <option value="aaaaa">aaaaa</option>
              <option value="bbbbb">bbbbb</option>
              <option value="ccccc">ccccc</option>
              <option value="ddddd">ddddd</option>
              <option value="eeeee">eeeee</option>
              <option value="fffff">fffff</option>
          </select>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="label-wrap">
        <label for="comment" class="head --static">แสดงความคิดเห็น</label>
      </div>
      <div class="input-wrap">
        <textarea name="comment" id="comment" class="input input__textarea --primary"></textarea>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="button-wrap">
        <input type="submit" value="ส่ง" class="button --solid-primary"></input>
      </div>
    </fieldset>
  </form>

</div>
<script src="js/select.js"></script>
