<div class="row">
  <div class="one-half column">
    <h4>Basic Page</h4>
    <p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
  </div>
</div>
<div class="row">
  <div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist" id="myTab">
      <li role="presentation" class="active">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
      </li>
      <li role="presentation">
        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
      </li>
      <li role="presentation">
        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>
      </li>
      <li role="presentation">
        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <h2>Home</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eos, rerum voluptates, repellendus corporis totam reprehenderit dignissimos expedita, illum incidunt delectus, officiis cum fugit debitis placeat ad a amet similique.
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
        <h2>Profile</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi temporibus aliquam explicabo, maxime vel in, porro tenetur aperiam adipisci fugit autem impedit distinctio est possimus eum officia reprehenderit quis accusamus.
      </div>
      <div role="tabpanel" class="tab-pane" id="messages">
        <h2>Message</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos placeat esse quisquam minus eos dicta vero, velit, non, quam, quae doloremque pariatur dolorem delectus maxime eius saepe facere provident at.
      </div>
      <div role="tabpanel" class="tab-pane" id="settings">
        <h2>Settings</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus repellat, vel, impedit aliquam iste aspernatur fugit id doloribus itaque molestias numquam libero sequi corporis alias eligendi ullam, non magnam dolorum.
      </div>
    </div>

  </div>
  <!-- <ul class="nav nav-tabs [ tab__wrap --primary ]" role="tablist" id="myTab">
    <li role="presentation" class="tab__head active">
      <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="[ tab__link ]">Home</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="[ tab__link ]">Profile</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="[ tab__link ]">Messages</a>
    </li>
    <li role="presentation" class="tab__head">
      <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="[ tab__link ]">Settings</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="[ tab-pane active ]" id="home">
      <h2>Home</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="profile">
      <h2>profile</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="messages">
      <h2>Message</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
    <div role="tabpanel" class="[ tab-pane ]" id="settings">
      <h2>Settings</h2>
      This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a></div>
  </div> -->
</div>