<div class="row">
  <div class="jumbotron">
	  <h2>Make your life easier with Baseline</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, commodi tempore et sapiente, maxime temporibus. Aut illo possimus quae facere, officiis sapiente, vitae sint. Aliquam minima dolorem illum doloremque nam.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
	<div class="row">
	  <div class="col-xs-12 col-sm-4">
	    <a href="#" class="thumbnail">
	      <img src="images/sample1.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4">
	    <a href="#" class="thumbnail">
	      <img src="images/sample2.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	  <div class="col-xs-12 col-sm-4">
	    <a href="#" class="thumbnail">
	      <img src="images/sample3.jpg" alt="sample image">
	    </a>
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores provident placeat hic maiores explicabo magnam culpa reiciendis eius quae, nesciunt ad quisquam aspernatur odit vitae earum quod facilis officiis repudiandae.
	  </div>
	</div>
</div>
<div class="row">
	
</div>