<main id="intro-main-content">
  <section id="intro-intro">
    <h1 class="head --special">Full Page Intro &amp; Navigation</h1>

    <header class="intro-header">
      <div id="intro-logo"><a href="#0">Baseline</a></div>
      <a class="intro-menu-trigger" href="#main-nav">Menu<span></span></a>
    </header>
    <div class="intro-blurred-bg"></div>
  </section> <!-- intro-intro -->
</main>

<div class="intro-shadow-layer"></div>

<nav id="main-nav">
  <ul>
    <li><a href="#0"><span>Tour</span></a></li>
    <li><a href="#0"><span>Pricing</span></a></li>
    <li><a href="#0"><span>Labs</span></a></li>
    <li><a href="#0"><span>About</span></a></li>
    <li><a href="#0"><span>Contact us</span></a></li>
  </ul>
  <a href="#0" class="intro-close-menu">Close<span></span></a>
</nav>