
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-12 col-md-5 col-md-push-7">
      <div class="col-xs-12 col-sm-6 col-md-12" style="height:50px; background-color: yellow;"></div>
      <div class="col-xs-12 col-sm-6 col-md-12" style="height:150px; background-color: red;"></div>
    </div>
    <div class="col-xs-12 col-md-7 col-md-pull-5">
      <div class="col-xs-12" style="height:200px; background-color: green;"></div>
    </div>
  </div>
</div>
<div class="row bs-layout-test">
  <div class="col-xs-12">
    <div class="col-sm-12 col-md-8">
      <div style="height: 300px; background: #ccc; margin-bottom: 30px;"></div>
    </div>
    <div class="col-sm-6 col-md-8">
      <div class="bs-news-block"></div>
      <div class="bs-news-block"></div>
      <div class="bs-news-block"></div>
      <div class="bs-news-block"></div>
    </div>
    <div class="col-sm-6 col-md-4 problematic-ads"></div>
  </div>
</div>
<div class="row section-equal-bg">
  <div class="col-sm-7">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sunt vitae accusantium recusandae omnis quia alias sapiente aliquam dolore officiis nulla autem laudantium aperiam soluta, dolorem non tenetur, quae itaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum dolor quasi modi voluptates, beatae sunt mollitia ipsa corrupti dignissimos, sequi, id animi inventore consequatur fugit. Alias, in fuga molestiae necessitatibus.
  </div>
  <div class="col-sm-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil vitae, consectetur ab, dolore id quibusdam veniam sequi minus in repellat.</div>
</div>