<div class="row">
	<div class="col-xs-12">
	  <div class="clearfix ct-ctn gap-row-bottom">
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="clearfix visible-md-block visible-lg-block"></div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<footer class="row gap-row-bottom">
		  <nav>
		    <ul class="pagination-wrap">
		      <li class="active">
		        <a href="#" aria-label="Previous">
		          <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
		        </a>
		      </li>
		      <li><a href="#">1</a></li>
		      <li><a href="#">2</a></li>
		      <li><a href="#">3</a></li>
		      <li><a href="#">4</a></li>
		      <li><a href="#">5</a></li>
		      <li><a href="#">6</a></li>
		      <li><a href="#">7</a></li>
		      <li><a href="#">8</a></li>
		      <li><a href="#">9</a></li>
		      <li>
		        <a href="#" aria-label="Next">
		          <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
		        </a>
		      </li>
		    </ul>
		  </nav>
		</footer>
	</div>
</div>