<div class="row">
	<div class="col-xs-12">
	  <div class="clearfix ct-ctn gap-row-bottom">
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="clearfix visible-md-block visible-lg-block"></div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	    <div class="col-xs-12 col-sm-6 col-md-4">
	      <a href="press-detail.php"><img src="images/sample1.jpg" class="max-img center-block"></a>
	      <h3 class="head --press-topic"><a href="press-detail.php">St. Patrick’s Day is Coming and as Always The Guinness is expected to flow</a></h3>
	      <time datetime="2014-4-25" class="head --header b gap-xs-bottom">25 April 2014</time>
	      <p class="content --excerpt">Government and Local Communities To Reduce Drunk Driving And Save Lives During The Songkran Holiday</p>
	    </div>
	  </div>
	</div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="img-frame-circle"><img src="images/sample1.jpg" alt="brewering process - malt" class="max-img center-block"></div>
    <h3 class="head --topic text-center">malt</h3>
    <p class="head --content text-justify">Malt is made from barley. It is full with rich nutrition. TAP uses only the best quality of malt from carefully selected suppliers.</p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="img-frame-circle"><img src="images/sample1.jpg" alt="brewering process - hops" class="max-img center-block"></div>
    <h3 class="head --topic text-center">hops</h3>
    <p class="head --content text-justify">Hops is one kind of vine with green flower. Brewers use this flower in beer to provide aroma and bitterness characteristic to the beer.</p>
  </div>
  <div class="clearfix visible-sm-block"></div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="img-frame-circle"><img src="images/sample1.jpg" alt="brewering process - yeast" class="max-img center-block"></div>
    <h3 class="head --topic text-center">yeast</h3>
    <p class="head --content text-justify">Yeast is an important gradient for fermentation process. It metabolizes sugar and convert it into alcohol and carbon dioxide gas. Each type of yeast gives a unique characteristic flavor to the beer. </p>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="img-frame-circle"><img src="images/sample1.jpg" alt="brewering process - water" class="max-img center-block"></div>
    <h3 class="head --topic text-center">water</h3>
    <p class="head --content text-justify">The quality of water is critical for brewing process. It must be purely clean water with appropriate amount of minerals. The company has used purest water. </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumb-item">
      <div class="thumb-image-wrap">
        <a href="thumb-detail.php" class="thumb-image">
          <img src="images/sample1.jpg" alt="phuksa หน้าใสบำรุงผิว">
        </a>
      </div>
      <a href="thumb-detail.php" class="thumb-content-overlay thumb-content">
        <strong class="font-normal">หน้าใสบำรุงผิว</strong>
        <p class="font-normal">ขาวกระจ่าง เรียบเนียน รูขุมขนกระชับ</p>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumb-item">
      <div class="thumb-image-wrap">
        <a href="thumb-detail.php" class="thumb-image">
          <img src="images/sample1.jpg" alt="phuksa หน้าใสบำรุงผิว">
        </a>
      </div>
      <a href="thumb-detail.php" class="thumb-content-overlay thumb-content">
        <strong class="font-normal">หน้าใสบำรุงผิว</strong>
        <p class="font-normal">ขาวกระจ่าง เรียบเนียน รูขุมขนกระชับ</p>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumb-item">
      <div class="thumb-image-wrap">
        <a href="thumb-detail.php" class="thumb-image">
          <img src="images/sample1.jpg" alt="phuksa หน้าใสบำรุงผิว">
        </a>
      </div>
      <a href="thumb-detail.php" class="thumb-content-overlay thumb-content">
        <strong class="font-normal">หน้าใสบำรุงผิว</strong>
        <p class="font-normal">ขาวกระจ่าง เรียบเนียน รูขุมขนกระชับ</p>
      </a>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-xs-12">
		<footer class="row gap-row-bottom">
		  <nav>
		    <ul class="pagination-wrap">
		      <li class="active">
		        <a href="#" aria-label="Previous">
		          <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
		        </a>
		      </li>
		      <li><a href="#">1</a></li>
		      <li><a href="#">2</a></li>
		      <li><a href="#">3</a></li>
		      <li><a href="#">4</a></li>
		      <li><a href="#">5</a></li>
		      <li><a href="#">6</a></li>
		      <li><a href="#">7</a></li>
		      <li><a href="#">8</a></li>
		      <li><a href="#">9</a></li>
		      <li>
		        <a href="#" aria-label="Next">
		          <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
		        </a>
		      </li>
		    </ul>
		  </nav>
		</footer>
	</div>
</div>