<div class="row">
	<div class="col-xs-12">
		<div class="menu__icon --split fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu__icon --menu2arrow fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu__icon --cross fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
		<a class="cd-search-trigger search__icon search-is-visible fl10" href="#cd-search"><span></span></a>
        <a href="#" class="search-icon --thin fl10"></a>
	</div>
</div>
<nav>
    <!-- desktop menu -->
    <ul class="menu__wrap">
        <li class="menu__list --link">
            <h2><a class="menu --link" href="/">หน้าหลัก</a></h2>
        </li>

        <li class="menu__list --link">
            <h2><a class="menu --link" href="/">วัตถุประสงค์</a></h2>
        </li>

        <li class="menu__list --link">
            <h2><a class="menu --link" href="/">ตารางสัมมนา</a></h2>
        </li>
        <li class="menu__list --link">
            <h2><a class="menu --link" href="/">ติดต่อเรา</a></h2>
        </li>
        <li class="menu--line"></li>
    </ul>
</nav>


<script src="js/navleft.js"></script>
