<div class="row">
	<div class="col-xs-12">
		<div class="menu__icon --split fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu__icon --menu2arrow fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu__icon --cross fl10">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
		<a class="cd-search-trigger search__icon search-is-visible fl10" href="#cd-search"><span></span></a>
	</div>
</div>

<script src="js/toggle.js"></script>
<script src="js/navleft.js"></script>
