
  <div class="row">
    <div class="col-xs-12">
      <select id="month">
        <option value="hide">Month</option>
        <option class="link" value="index">Index</option>
        <option class="link" value="button">Button</option>
      </select>
      <select id="year">
        <option value="hide">Year</option>
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
      </select>
    </div>
    <div class="col-xs-12 gap-row-top">
      <div class="filter__wrap--gallery">
        <label class="content__text --label" for="video-category__select">เรียงตาม</label>
        <div class="select --outline-primary video-category__select">
          <select name="order" id="js-order" class="select-hidden">
            <option value="date">วันที่</option>
            <option value="alphabet">ตัวอักษร</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-xs-12 gap-row-top">
      <div class="subcategory__select lifestyle">
        <select>
          <option value="hide">ทั้งหมด</option>
          <option value="all">ทั้งหมด</option>
          <option value="eat">กิน</option>
          <option value="travel">เที่ยว</option>
        </select>
      </div>
    </div>
  </div>
<!-- Custom css select -->
<script src="js/select.js"></script>

<!-- Select2 -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script type="text/javascript">
function formatState (state) {
  if (!state.id) { return state.text; }
  var $state = $(
    '<a href="index.html">'+state.element.value.toLowerCase()+'</a>'
  );
  return $state;
};

$(document).ready(function() {
  $('#month').select2({
    placeholder: "Month",
    minimumResultsForSearch: Infinity,
    templateResult: formatState
  });
});
</script> -->

<!-- ddClick -->
<!-- <script src="http://dl.dropbox.com/u/40036711/Scripts/ddslick.js"></script> -->
