<!--             <div class="wrap-clip">
                  <div class="wrap-clip-point">
                        <div class="axis axis-x">X-axis
      <span>&#8594;</span>
    </div>
                        <div class="axis axis-y">Y-axis
      <span>&#8595;</span>
    </div>

    <div class="element-wrap">
                              <div class="clip-point clip-x1y1">x, y1</div>
                              <div class="clip-point clip-x2y2">x2 y2</div>
                              <div class="clip-point clip-x3y3">x3 y3</div>
                              <div class="clip-point clip-x4y4">x4 y4</div>
                              <img class="element" src="images/sample7.jpg" alt="demo-clip-path-coordinates" width="550">
                        </div>
                  </div>
</div>

                <svg class="clip-svg">
                      <defs>
                            <clipPath id="clip-demo-basic" clipPathUnits="objectBoundingBox">
                                  <polygon points="0.5 0, 0.9 0.1, 0.9 0.9, 0.1 0.9" />
                            </clipPath>
                      </defs>
                </svg> -->

<div class="hexa gon">CHROME</div>

<div id="clip3" class="firefox-block gon">
  <div>
    <div>FIREFOX</div>
  </div>
</div>


<svg width="0" height="0">
  <defs>
  <clippath id="absolute_path" clipPathUnits="objectBoundingBox">
    <polygon points="62.875,0 0,36.706 0,110.121 62.875,146.83 125.75,110.121 125.75,36.706 "/>
    </clippath>
  </defs>
</svg>

<div class="tree gap-top-md"></div>
<div class="sign gap-top-md">START</div>

<div class="arrow-down"></div>
<div class="arrow-up"></div>
<div class="arrow-left"></div>
<div class="arrow-right"></div>

<div class="trian-res-down"><div></div></div>

<div class="clearfix gap-bottom-lg">
<h2>Shadow for SVG</h2>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-50 -50 200 200">
  <title>svg arrow with dropshadow</title>
  <desc>An svg example of an arrow shape with a dropshadow filter applied. The dropshadow filter effect uses feGaussianBlur, feOffset and feMerge.</desc>
  <defs>
    <filter id="dropshadow" height="130%">
      <feGaussianBlur in="SourceAlpha" stdDeviation="3"/>
      <feOffset dx="2" dy="2" result="offsetblur"/>
      <feMerge>
        <feMergeNode/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
  </defs>
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" fill="#EEEEEE" filter="url(#dropshadow)"/>
</svg>
</div>

<div class="bs-logo-head-bow">
  <a class="brand-wrap" href="http://web/saladbook/">
    <span class="bow"><span class="brand">Salad Book</span></span>
  </a>
</div>