<div class="container section__container gap-inner-bottom">
    <div class="row">
      <div class="col-md-4">
        <section class="list__category --news">
          <h2 class="header__wrap --category --primary">
              <a class="header__text --category --primary" target="_blank" href="">ข่าว</a>
              <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href=""></a></span>
          </h2>
          <div class="list__wrap bg-secondary">
            <div class="col-sm-6 col-md-12">
              <ul class="no-list-style">
                <li class="list__item"><a class="list__link" href="">ข่าวผู้อ่านสูงสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าวแชร์สูงสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าวล่าสุด</a></li>
                <li class="list__item"><a class="list__link" href="">ข่าววันนี้</a></li>
                <li class="list__item"><a class="list__link" href="">บันเทิง</a></li>
                <li class="list__item"><a class="list__link" href="">กีฬา</a></li>
                <li class="list__item"><a class="list__link" href="">ต่างประเทศ</a></li>
                <li class="list__item --has-sub">
                    <a class="list__link" href="">ไลฟ์สไตล์</a>
                    <ul class="no-list-style list__sub">
                        <li class="list__item"><a class="list__link --sub" href="">กิน</a></li>
                        <li class="list__item"><a class="list__link --sub" href="">เที่ยว</a></li>
                    </ul>
                </li>
                <li class="list__item"><a class="list__link" href="">การเมือง</a></li>
                <li class="list__item"><a class="list__link" href="">อาชญากรรม</a></li>
                <li class="list__item"><a class="list__link" href="">สังคม</a></li>
                <li class="list__item"><a class="list__link" href="">เศรษฐกิจ-ไอที</a></li>
              </ul>
            </div>
          </div>
      </section>
    </div>
      <div class="col-md-4">
        <section class="list__category --gallery">
          <h2 class="header__wrap --category --primary">
                      <a class="header__text --category --primary" target="_blank" href="{{GALLERY_FULLPATH}}">ภาพ</a>
                      <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href="{{GALLERY_FULLPATH}}"></a></span>
                  </h2>
                  <div class="list__wrap bg-secondary">
                    <div class="col-sm-6 col-md-12">
                      <a class="list__link" href="">กีฬา</a>
                      <a class="list__link" href="">กิจกรรม-อีเวนท์</a>
                      <a class="list__link" href="">ธรรมชาติ</a>
                      <a class="list__link" href="">ท่องเที่ยว</a>
                      <a class="list__link" href="">ชีวิตสัตว์</a>
                      <a class="list__link" href="">คนดัง-บันเทิง</a>
                      <a class="list__link" href="">อาหาร-เครื่องดื่ม</a>
                    </div>
                    <div class="col-sm-6 col-md-12">
                      <a class="list__link" href="">ความงาม-แฟชั่น</a>
                      <a class="list__link" href="">สุขภาพ</a>
                      <a class="list__link" href="">บ้าน-สวน</a>
                      <a class="list__link" href="">DIY</a>
                      <a class="list__link" href="">ศิลปะ-วัฒนธรรม</a>
                      <a class="list__link" href="">Lifester</a>
                    </div>
                  </div>
              </section>
      </div>
      <div class="col-md-4">
        <section class="list__category --video">
          <h2 class="header__wrap --category --primary">
              <a class="header__text --category --primary" target="_blank" href="">วิดีโอ</a>
              <span class="button__wrap --arrow-right"><a class="button__icon --primary --arrow-right" href=""></a></span>
          </h2>
          <div class="list__wrap bg-secondary">
            <div class="col-sm-6 col-md-12">
      <a class="list__link" href="">บันเทิง</a>
      <a class="list__link" href="">กีฬา</a>
      <a class="list__link" href="">ต่างประเทศ</a>
      <a class="list__link" href="">ไลฟ์สไตล์</a>
            </div>
            <div class="col-sm-6 col-md-12">
      <a class="list__link" href="">การเมือง</a>
      <a class="list__link" href="">อาชญากรรม</a>
      <a class="list__link" href="">สังคม</a>
      <a class="list__link" href="">เศรษฐกิจ-ไอที</a>
            </div>
          </div>
      </section>
      </div>
    </div>
    <div class="row">
        <div class="brand__img__wrap">
          <img src="images/pobporn-web-front-end-logo.svg" class="brand__img"/>
        </div>
    </div>
</div>
