<div class="row">
      <div class="col-xs-12">
            <section class="bs-color">
            <div>
                  <div class="nation-brand-2"></div>
                  <p>darken(@nation-brand-primary, 40%)</p>
                  <p>rgb(0, 0, 0)</p>
            </div>
            <div>
                  <div class="nation-brand-3"></div>
                  <p>darken(@nation-brand-primary, 30%)</p>
                  <p>rgb(9, 14, 29)</p>
            </div>
            <div>
                  <div class="nation-brand-4"></div>
                  <p>darken(@nation-brand-primary, 20%)</p>
                  <p>rgb(22, 32, 67)</p>
            </div>
            <div>
                  <div class="nation-brand-5"></div>
                  <p>darken(@nation-brand-primary, 10%)</p>
                  <p>rgb(34, 51, 106)</p>
            </div>
            <div>
                  <div class="nation-brand-color"></div>
                  <p>Nation Brand Primary</p>
                  <p>rgb(47, 69, 144)</p>
            </div>
            <div>
                  <div class="nation-brand-6"></div>
                  <p>lighten(@nation-brand-primary, 10%)</p>
                  <p>rgb(60, 87, 182)</p>
            </div>
            <div>
                  <div class="nation-brand-7"></div>
                  <p>lighten(@nation-brand-primary, 20%)</p>
                  <p>rgb(91, 116, 202)</p>
            </div>
            <div>
                  <div class="nation-brand-8"></div>
                  <p>lighten(@nation-brand-primary, 30%)</p>
                  <p>rgb(130, 149, 214)</p>
            </div>
            <div>
                  <div class="nation-brand-9"></div>
                  <p>lighten(@nation-brand-primary, 40%)</p>
                  <p>rgb(168, 182, 227)</p>
            </div>
            <div>
                  <div class="nation-brand-10"></div>
                  <p>lighten(@nation-brand-primary, 50%)</p>
                  <p>rgb(207, 214, 239)</p>
            </div>
            <div>
                  <div class="nation-brand-11"></div>
                  <p>darken(@nation-brand-primary, 55%)</p>
                  <p>rgb(245, 247, 252)</p>
            </div>
            <div>
                  <div class="nation-brand-12"></div>
                  <p>lighten(@nation-brand-primary, 57%)</p>
                  <p>rgb(234, 237, 248)</p>
            </div>
            <div>
                  <div class="nation-brand-13"></div>
                  <p>lighten(@nation-brand-primary, 60%)</p>
                  <p>rgb(245, 247, 252)</p>
            </div>
          </section>
      </div>
</div>