input, textarea, button, select {
  outline: none;
  &:focus {
    outline: none;
  }
}
// Placeholder
// ---------------------------------------
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: @gray-step-4;  
}

// Search
// ---------------------------------------
input[type=search] {
  .appearance(textfield);
  .box-sizing(content-box);
  font-family: inherit;
  font-size: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.component(input {
  .part(search {
    width: 100px;
    .round;
    .transition(all .5s);

    &:focus {
      width: 150px;
    }
  });
  .part(icon {
    .option(search {
      font-size: 16px;
      color: @gray-step-5;
    });
  });
});

// Input
// ---------------------------------------
.input-text-height(){
  @height: 34px; 
  @padding-vertical: 4px; 
  @padding-horizontal: 10px
}

.text__label {
  .input-text-height();
  padding: @padding-vertical @padding-horizontal;
  line-height: @height - (@padding-vertical * 2);
  font-size: 13px;
  margin-bottom: 0;
}

.component(input{
  display: inline-block;
  position: relative;
  .box-shadow(none);
  .part(wrap{
    .option(icon{
      position: relative;
    });
  });
  .part(text{
    width: 100%;
    .radius;
  });
  .part(icon {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    .input-text-height();
    width: @height;
    height: @height;
    line-height: @height !important;
    text-align: center;
  });

  .option(primary{
    .input-text-height();
    height: @height;
    line-height: @height;
    padding: @padding-vertical @padding-horizontal;
    margin: 0;
    // Set margin-bottom at .form-group
    .input-style(@input-primary-bg-color-theme, @input-primary-font-color-theme, @input-primary-border-color-theme);
  });
});

.button__wrap {
  display:block; width: 300px; color: @black; background-color:@white; position: absolute; bottom: 25px;
  &:hover {
    .no-csstransform &, .no-csstransforms3d & {
      background-color: darken(@white, 15%);
    }
  }
}
  .button--cube {
    width: 300px; height: 34px;
  }
    .button--face {
      font-family: "Ropa Sans"; font-size: 16px; color: @black; border: 2px solid @black;
      padding: 5px 15px;
      text-align: center; text-transform: capitalize;

      &:first-of-type {
        background-color: @white;
      }

      &:nth-of-type(2) {
        background: @black;
        color: @white;
      }

      &:nth-of-type(3) {
        background: darken(@white, 20%);
      }

      &:last-of-type {
        background: darken(@white, 30%);
      }
    }

// Radio
// ------------------------------------------------------
// <fieldset class="form-group">
//   <input id="female" name="gender" type="radio">
//   <label class="input__radio"  for="female"> Female </label>
//   <input id="male" name="gender" type="radio" >
//   <label class="input__radio" for="male"> Male </label>
// </fieldset>

input[type=radio],input[type=checkbox]{
  display: none;
}
.input__radio, .input__checkbox {
  display: inline-block;
  cursor: pointer;
}
.input__radio:before, .input__checkbox:before {
  font-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align:middle;
  text-align: center;
  border-radius: 10px;
}
.input__radio:before {
  .icon-iconicon("\f3a6");
}
input[type=radio]:checked + .input__radio:before {
  .icon-iconicon("\f3a7");
}

// Checkbox
// ------------------------------------------------------
// <fieldset class="form-group">
//   <input type="checkbox" id="subscribe" name="subscribe">
//   <label class="input__checkbox --primary" for="subscribe">I agree to the Term of Use and Privacy Policy</label>
// </fieldset>

.input__checkbox:before {
  .icon-iconicon("\f372");
}

input[type=checkbox]:checked + .input__checkbox:before {
  .icon-iconicon("\f374");
}

// Theme color for radio and checkbox
// ------------------------------------------------------
.input--primary {
  .input-radio-checkbox-color(@input-radio-color-theme, before);
}
input[type=radio]:checked + .input--primary:before,
input[type=checkbox]:checked + .input--primary:before {
  color: @color-primary;
}

// Tab
// ------------------------------------------------------
// <ul class="nav nav-tabs [ tab__wrap --primary ]" role="tablist" id="myTab">
//   <li role="presentation" class="active [ tab__head ]">
//     <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="[ tab__link ]">Home</a>
//   </li>
//   <li role="presentation" class="[ tab__head ]">
//     <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="[ tab__link ]">Profile</a>
//   </li>
//   <li role="presentation" class="[ tab__head ]">
//     <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="[ tab__link ]">Messages</a>
//   </li>
//   <li role="presentation" class="[ tab__head ]">
//     <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab" class="[ tab__link ]">Settings</a>
//   </li>
// </ul>

.tab-no-style {
  border: none;
  .border-radius(0);
  margin: 0;
}

.tab-selected {
  border-bottom: 3px solid @color-hilight;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: @white;
  padding: 10px 15px 8px;
}

.component(tab {
  .part(wrap {
    .option(primary {
      background: @color-primary;
    });
  });
  .part(head {
    &.active {
      .tab__link {
        .tab-selected !important;
      }
    }
  });
  .part(link {
    .tab-no-style !important;
    &:hover {
      .tab-selected !important;
    }
  });
});
