button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

.no-button-default {
  outline: none;
  .appearance(none);
  border: none;
}

.button-typo(@font-size: 14px) {
  font-family: @font-family-sans-serif;
  font-weight: 400;
  font-size: @font-size;
}

.button-size-normal {
  padding: 6px 20px;
}
.button-size-icon {
  padding: 6px 20px 6px 40px;
}
.button-size-no-border {
  padding: 8px 20px 9px;
}

.component(button {
  display: inline-block;
  .button-typo;
  .button-size-normal;
  &:focus {
    outline: none;
    -webkit-appearance: none;
  }
  .option(solid-primary{
    .input-style(@button-primary-bg-theme; @button-solid-font-color-theme; @button-primary-bg-theme);
  });
  .option(solid-secondary{
    .input-style(@button-secondary-bg-theme; @button-solid-font-color-theme; @button-secondary-bg-theme);
  });

  .option(outline-primary {
    .input-style(@button-outline-primary-bg; @button-outline-primary-color; @button-outline-primary-color);
  });
  .option(outline-secondary {
    .input-style(@button-outline-secondary-bg; @button-outline-secondary-color; @button-outline-secondary-color);
  });
  .option(outline-favorite {
    .input-style(@button-outline-favorite-bg-theme; @button-outline-favorite-color-theme; @button-outline-favorite-border-theme);
  });

  .option(bg-primary{
    .input-bg(@button-primary-bg-theme);
    color: @white;
  });
  .option(bg-secondary{
    .input-bg(@button-secondary-bg-theme);
    color: @white;
  });
  .option(icon{
    font-size: 26px;
    color: @brand-secondary;
    cursor: pointer;
  });
  .option(icon-left {
    padding: 6px 10px 6px 40px;
    position: relative;
    &:before {
      font-size: 26px;
      position: absolute;
      top: 2px;
      left: 10px;
    }
  });
  .option(icon-register {
    padding: 6px 20px 6px 40px;
    position: relative;
    &:before {
      font-size: 26px;
      position: absolute;
      top: 2px;
      left: 50%;
      margin-left: -70px;
    }
  });

    // Share button
  .option(facebook {
    .input-style(@button-facebook-bg-color-theme, @white, @button-facebook-bg-color-theme);
  });
  .option(twitter {
    .input-style(@button-twitter-bg-color-theme, @white, @button-twitter-bg-color-theme);
  });
  .option(googleplus {
    .input-style(@button-googleplus-bg-color-theme, @white, @button-googleplus-bg-color-theme);
  });

  .option(social {
    .round;
    .button__icon {
      font-size: 20px;
      margin-right: 5px;
    }
  });

  .part(link{
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  });

  // Share Button - separate container and icon
  .part(wrap{
    .option(icon{
      border: none;
    });
      // A adjustfontsize & share in news article + Share btn in news article

    .option(icon-font{
      padding: 0;
      display: inline-block;
      line-height: 1;
      .border-radius(3px);
      .input-style(@adjustfont-bg-theme, @adjustfont-color-theme, @adjustfont-border-theme);

      .button__icon.\--share {
        padding: 5px 6px;
        margin: 0;
      }
    });
  });

  .part(icon{
    margin-right: 5px;
  });

  // Button Cube Style
  .part(group{
    .option(cube{
      display:block; width: 300px; color: @black; background-color:@white; position: absolute; bottom: 25px;
      &:hover {
        .no-csstransform &, .no-csstransforms3d & {
          background-color: darken(@white, 15%);
        }
      }
    });
  });
  .part(wrap{
    .option(face{
      width: 300px; height: 34px;
    });
    .option(rating{
      background-color: rgb(0, 147, 91); border:2px solid rgb(255, 255, 255);
      box-shadow: 0 0 1px 1px rgb(0, 147, 91);
      border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
      font-family: Arial, Tahoma, sans-serif; font-size: 14px; text-transform: uppercase;
      color: rgb(255, 255, 255);
      line-height: 1; text-align: center;
    });
  });
  .part(face{
    font-family: "Ropa Sans", Arial, sans-serif; font-size: 16px; color: @black; border: 2px solid @black; text-align: center; text-transform: capitalize;
    padding: 5px 15px;

    &:first-of-type {
      background-color: @white;
    }

    &:nth-of-type(2) {
      background: @black;
      color: @white;
    }

    &:nth-of-type(3) {
      background: darken(@white, 20%);
    }

    &:last-of-type {
      background: darken(@white, 30%);
    }
  });
});

.container-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  padding: 4px 7px;
  background-color: @gray;
  text-align: center;
  position: relative;
  top: -3px;
  i {
    color: @white;
  }
}
.share-value {
  position: relative;
  top: -3px;
}
.tooltipster-content {
  min-width: 220px;
}

.tgl{
  display: none;
  // add default box-sizing for this scope
  &, &:after, &:before,
  & *, & *:after, & *:before,
  & + .tgl-btn{
    box-sizing: border-box;
    &::selection{
      background: none;
    }
  }
  + .tgl-btn{
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
     user-select: none;
    &:after, &:before{
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }
    &:after{
      left: 0;
    }
    &:before{
      display: none;
    }
  }
  &:checked{
    + .tgl-btn{
      &:after{
        left: 50%;
      }
    }
  }
}

// themes
.tgl-light{
  + .tgl-btn{
    background: rgb(0, 57, 93);
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    &:after{
      border-radius: 50%;
      background: #fff;
      transition: all .2s ease;
    }
  }
  &:checked{
    + .tgl-btn{
      background: #FCD475;
    }
  }
}

// <div class="starrating">
//   <span>☆</span><span>☆</span><span>☆</span>
// </div>
// <div class="starrating">
//   <span>★</span><span>★</span><span>★</span>
// </div>

.starrating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.starrating > span {
  display: inline-block;
  position: relative;
  width: 20px;
  font-size: 16px;
  color: black;
}
.starrating > span:hover,
.starrating > span:hover ~ span {
  color: transparent;
}
.starrating > span:hover:before,
.starrating > span:hover ~ span:before {
   content: "\2605";
   width: 20px;
   position: absolute;
   top: 0;
   left: 0;
}
.starrating > span:hover:before,
.starrating > span:hover ~ span:before {
   color: gold;
}

// <a class="js-back-to-top bs-back-to-top container-icon" href="#top" title="Back to top">
//   <i class="ion-chevron-up"></i>
// </a>

.js-back-to-top.is-visible {
  visibility: visible;
  opacity: 1;
}
.js-back-to-top.is-fade-out {
  opacity: 0.5;
}
.js-back-to-top {
  &:hover {
    opacity: 1;
  }
}