@dropdown-width       :       150px;

.select-size{
  @padding-vertical     :       6px;
  @padding-horizontal   :       10px;
  @font-size            :       16px;
  @dropdown-height      :       (@padding-vertical * 2) + @font-size;
  @dropdown-arrow-size  :       5px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select__wrap {
  cursor: pointer;
  display: inline-block;
  position: relative;

  // _size
  .select-size();
  width: @dropdown-width;
  height: @dropdown-height;
}
.select-arrow {
  &:after {
    content:"";
    width: 0;
    height: 0;
    position: absolute;
    .select-size();
    top: (@dropdown-height / 2) - (@dropdown-arrow-size / 2);
    right: 10px;
    // _arrow
    border: @dropdown-arrow-size solid transparent;
    border-color: @dark-blue transparent transparent transparent;
  }
}

.select__selected {

  // _theme
  // .theme-input-primary();
  .input-bg(@select-bg-theme);
  color: @dark-blue;

  // _size
  .input-text-height();
  .select-size();
  padding: @padding-vertical @padding-horizontal;

  // .transition(all 0.2s ease-in);
  .select-arrow;

}

.select__options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: -1px 0 0 0; // overlapp with border-width
  padding: 0;
  list-style: none;

  // _theme
  // .box-shadow(0 0 3px fade(@dark-blue,50%));
  // background-color: lighten(@light-blue, 5%);
  // color: @dark-blue;
  // .theme-input-primary();
  li {
    margin: 0;
    .select-size();
    padding: @padding-vertical @padding-horizontal;

    // border-top: 1px solid darken(@color-secondary, 10);
    // .transition(all 0.15s ease-in);
    &:hover {
      color: @white;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.select-color(@n, @property, @i: 1) when (@i =< @n) {
  @title : extract(@category-title, @i);
  &.@{title} {
    .select__selected {
      color: extract(@category, @i);
      &:before {
        background-color: extract(@category, @i);
      }
    }
    .select__options {
      @{property}: extract(@category, @i);
    }
    .select__option{
      &:hover {
        @{property}: lighten(extract(@category, @i), 10%);
      }
    }
  }
  .select-color(@n, @property, @i + 1);
}

.subcategory__select {
  position: relative;
  margin-bottom: 10px;
  left: 35px;
  .select-color(length(@category-title), background);
  .font-kanda(14px, 700);
  .select__wrap {
    width: auto;
  }
  .select__selected {
    color: @white;
    &:before {
      content: "";
      display: block;
      width: 35px;
      height: 35px;
      position: absolute;
      top: 0;
      left: -35px;
    }
    &:after {
      top: 10px;
      left: -20px;
      border: 7px solid rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) @white;
    }
    &.active {
      &:after {
        top: 15px;
        left: -25px;
        border-color: @white rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      }
    }
  }
  .select__options {
    width: 200px;
    left: -35px;
    right: auto;
    li {
      padding: 10px 10px;
      color: @white;
      border-bottom: 1px solid fade(@white, 40%);
    }
  }
}

@select-sm-padding : 3px 10px;

@select-bg-theme: fade(@white, 20%), fade(@white,50%), fade(@white,50%);

@select-outline-primary-border-theme: @gray,        @brand-primary, @brand-primary, @gray;
@select-outline-primary-bg-theme:     @white,       @white,         @white,         @gray-lighter;
@select-outline-primary-color-theme:  @gray-darker, @gray-darker,   @gray-darker,   @gray;

@select-outline-secondary-border-theme: @gray,        @brand-secondary, @brand-secondary, @gray;
@select-outline-secondary-bg-theme:     @white,       @white,         @white,         @gray-lighter;
@select-outline-secondary-color-theme:  @gray-darker, @gray-darker,   @gray-darker,   @gray;

@select-round       : 14px;
@select-radius      :  4px;

.select-border-mx(@select-border-radius) {
  .select__wrap, .select__selected { .border-radius(@select-border-radius); }
  .select__selected {
    .transition(initial);
    &.active, &:active {
      .border-radius(@select-border-radius @select-border-radius 0 0);
    }
  }
  .select__options {
    .border-radius(0 0 @select-border-radius @select-border-radius);
    margin: -3px 0 0 0;
    li {
      &:last-child:hover {
        .border-radius(0 0 @select-border-radius @select-border-radius);
      }
    }
  }
}

.select {
  &.\--select-round {
    .select-border-mx(@select-round);
  }
  &.\--select-radius {
    .select-border-mx(@select-radius);
  }
  &.\--solid-primary {
    .select__selected {
      .input-style(@button-solid-primary-theme; @white; @button-solid-primary-theme);
    }
    .select__options {
      background-color: extract(@button-solid-primary-theme, 1);
      li:hover {
        background: extract(@button-solid-primary-theme, 2);
        // color: @white;
      }
    }
  }
  &.\--outline-primary {
    .select__selected {
      color: @gray-darker;
      .input-style(@select-outline-primary-bg-theme; @select-outline-primary-color-theme; @select-outline-primary-border-theme);
      &.active {
        +.select__options {
          border-left: 1px solid @brand-primary;
          border-right: 1px solid @brand-primary;
          border-bottom: 1px solid @brand-primary;
        }
      }
    }
    .select__options {
      background-color: @white;
      li:hover {
        background: @brand-primary;
        color: @white;
      }
    }
  }
  &.\--outline-secondary {
    .select__selected {
      color: @gray-darker;
      .transition(initial);
      .input-style(@select-outline-secondary-bg-theme; @select-outline-secondary-color-theme; @select-outline-secondary-border-theme);
      &.active {
        +.select__options {
          border-left: 1px solid @brand-secondary;
          border-right: 1px solid @brand-secondary;
          border-bottom: 1px solid @brand-secondary;
        }
      }
    }
    .select__options {
      background-color: @white;
      li:hover {
        background: @brand-secondary;
        color: @white;
      }
    }
  }
  // Merely custom select, not including option
  &.\--mask {
    &:extend(.select__wrap);
    .select-arrow;

    select {
      .appearance(none);
      width: @dropdown-width; // must fix size to position arrow

      .font-kanda(14px, 700);
      .round;
      padding: 4px 10px;
      // .input-style(@select-outline-primary-bg-theme; @select-outline-primary-color-theme; @select-outline-primary-border-theme);
    }
  }

}

.i-select-primary {
  .select__wrap {
    .input-outline-primary;
  }
}

