.header__wrap--bt1 {
    border-top-width: 3px;
    border-top-style: solid;
    border-top-color: black;
    position: relative;
    .header__link__wrap {
      padding: 2px 5px;
      background-color: black;
    }
    .header__link {
      color: whitesmoke;
      position: relative;
      z-index: 2;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 20px solid rgb(0, 0, 0);
        border-right: 13px solid rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 25%;
      }
    }
}

// Logo designer+dev v.portDisplay
.brand__img__wrap {
  padding-left: 130px; margin: 0 0 0 105px; position: relative; display: inline-block;
  &:before {
    content: ""; display: block; border-top: 2px solid @color-primary; width: 120px;
    position: absolute; top: 15px; left: 0;
    @media screen and (min-width: @screen-sm-min){
      border-top: 3px solid @color-primary;
    }
  }
}
  .brand__img { width: 3em; max-width: 100%; z-index: 5; display: block; }

// Circle badge with a bow tag below

.circle-border {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  // background: #9DC06C;
  border: 1px solid #888;
  .box-shadow(inset 0 0 0 5px @brand-primary);
  .border-radius(50%);
  &:before {
    content: '';
    display: block;
    background: url(../images/saladbook_logo.svg) no-repeat top center;
    width: 120px;
    height: 90px;
    margin-top: 10px;
  }
}
.brand {
  display: block;
  padding: 3px 10px;
  background: @brand-primary;
  border-bottom: 1px solid @white;
  color: rgb(251, 251, 251);
  font-size: 18px;
  position: relative;
  z-index: 10;
}
.bow {
  display: block;
  position: relative;
  margin-top: -13px;
  &:before, &:after {
    content: '';
    display: block;
    width: 25px;
    height: 20px;
    background: darken(@brand-primary, 5%);
    position: absolute;
    top: 20px;
    z-index: 1;
    border-top: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid rgba(0, 0, 0, 0);
  }
  &:before {
    left: -15px;
    border-left: 10px solid @white;
    // @include box-shadow(1px 1px 0 1px darken(@white, 50%));
  }
  &:after{
    right: -15px;
    border-right: 10px solid @white;
    // @include box-shadow(-1px 1px 0 1px darken($white, 50%));
  }
}